server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://kickstarters1.c1iiemwkiwoh.us-east-1.rds.amazonaws.com:3307/kickstarters
    username: admin
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
  application:
    name: JOB-SERVICE

eureka:
  client:
    service-url:
      defaultZone : http://18.208.147.23:8761/eureka/