/** styling for main featured job section */

.featuredjobs-main{
    margin: 4rem 6rem;
    color: #2a2a2a;
    text-align: center;
}

/** styling for main featured job section heading */
.featuredjobs-main h1{
    font-size: 3rem;
}

/** styling for main featured job section cards  */
.featuredjobscard{
    
    margin-top: 3rem;
    display: flex !important;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

/** now styling card*/
.t-card{
    width: 32%;
    margin-right: 15px;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 20px;
}

.joblist-maincard .t-card{
    width: 48.5%;
}

/** styling card images */
.t-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.t-image:hocer{
    transform: scale(1.3);
} 
/** styling card images */

/** styling card text */

.t-card h4{
    font-size: 1.3rem;
    /* padding: .9rem 0 2rem 0; */
}

/** styling card text */

/** media query for card in small screens*/

@media screen and (max-width: 850px){
    .featuredjobs-main{
        margin: 4rem 2rem;
    }
    .featuredjobscard{
        flex-direction: column;
    }
    .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .joblist-maincard .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

/** media query for card in small screens*/