.alertjobs-main .textfield{
    height: 3rem !important;
  width: 100% !important;
  padding: 0 1rem !important;
  margin-bottom: 1rem !important;
  border-radius: 0.3rem !important;
  border: 1px solid #2a2a2a !important;
}
.alertjobs-main .textArea{
    /* height: 3rem; */
  width: 100% !important;
  padding-top: 13px !important;
  padding-left: 1rem;
  margin-bottom: 1rem !important;
  border-radius: 0.3rem !important;
  border: 1px solid #2a2a2a !important;
}
.title-salary{
  /* display: flex; */
}
.alertjobs-main{
  /* height: 70vh !important; */
  overflow-y: auto;
}
