spring:
  cloud:
    gateway:
      routes:
        - id: job-service
          uri: lb://JOB-SERVICE
          predicates:
            - Path=/api/v1/job/service/**
          filters:
            - AuthenticationFilter

        - id: profile-service
          uri: lb://PROFILE-SERVICE
          predicates:
            - Path=/api/v1/auth/**

  application:
    name: API-GATEWAY

eureka:
  client:
    service-url:
      defaultZone : http://localhost:8761/eureka/