/** margin in aboutus section*/
.aboutus-main{
    margin: 4rem 6rem;
    text-align: center;
    margin-top: 160px;
}

/** styling aboutus section*/
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

/** styling aboutus text */
.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;

}

.des-text h2{
    padding-bottom: 1rem;
}
/** styling aboutus text */

/** styling aboutus img */
.aboutusimage{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.aboutusimage img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}

.aboutusimage img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
/** styling aboutus img */

/** media query for about section for small screen*/

@media screen and (max-width: 850px){
    .aboutus-main{
        margin: 4rem 2rem;
    }
    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .des-text{
        width: 100%;
    }
    .aboutusimage{
        width: 100%;
        margin: 1.8rem;
    }
    .aboutusimage img{
        height: 250px;
    }
}

/** media query for about section for small screen*/