*{
    /* text-align: center; */
}

.dynamicMain{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

/** to remove vertical scroll from the page */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** search field style */
.search_textfield{
    height: 3rem;
    width: 50%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: none;
    margin-right: 10px;
    height: 58px;
    font-size: 1.4rem;
}

.search_textfield:focus{
    border: none;
}

/** this is to style main content on image */
.dynamicMain-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

/** this is to style main heading on image */
.dynamicMain-text h1{
    font-size: 3rem;
    font-weight: 800;
    background-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** this is to style main para on image */
.dynamicMain-text p{
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}

/** search btn css */
.search-btn{
    text-decoration: none;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}
 
/** this media query is to adjust main image in small screen*/

@media screen and (max-width: 555px){
    .dynamicMain-text h1{
        padding: 10px 20px;
    }
    .dynamicMain-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }

    .search_textfield{
        height: 44.19px;
        font-size: 1rem;
    }

    .search-btn{
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;
        
    }
}