server:
  port: 8082
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

spring:
  datasource:
    url: jdbc:mysql://kickstarters1.c1iiemwkiwoh.us-east-1.rds.amazonaws.com:3307/kickstarters
    username: admin
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    
  mail:
    host: smtp.gmail.com
    port: 587
    username: kickstartersweb@gmail.com
    password: gsonrungxwuptxdk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
#  application:
#    name: PROFILE-SERVICE
#
#eureka:
#  client:
#    service-url:
#      defaultZone : http://18.208.147.23:8761/eureka/
                
        

