springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kickstarters
    username: root
    password: pavan123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    
  mail:
    host: smtp.gmail.com
    port: 587
    username: kickstartersweb@gmail.com
    password: gsonrungxwuptxdk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
                
        

