.postjobs .textfield{
    height: 3rem !important;
  width: 100% !important;
  padding: 0 1rem !important;
  margin-bottom: 1rem !important;
  border-radius: 0.3rem !important;
  border: 1px solid #2a2a2a !important;
}
.postjobs .textArea{
    /* height: 3rem; */
  width: 100% !important;
  padding-top: 13px !important;
  padding-left: 1rem;
  margin-bottom: 1rem !important;
  border-radius: 0.3rem !important;
  border: 1px solid #2a2a2a !important;
}
.title-salary{
  /* display: flex; */
}
.postjobs{
  height: 70vh !important;
  overflow-y: auto;
}

.experience-section{
  /* border: 1px solid red; */
}

ol {
  padding-left: 17px;
}
ul {
  padding-left: 17px;
  list-style-type: disc;
}