name: CICD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build Project
        working-directory: ./service-registry
        run: mvn clean install -DskipTests
      # - name: Build Project
      #   working-directory: ./gateway-service
      #   run: mvn clean install -DskipTests
      # - name: Build Project
      #   working-directory: ./profile-service
      #   run: mvn clean install -DskipTests
      # - name: Build Project
      #   working-directory: ./job-service
      #   run: mvn clean install -DskipTests
      - name: Login to docker hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build docker image
        working-directory: ./service-registry
        run: docker build -t kickstarters/service-registry .
      - name: Publish image to docker hub
        working-directory: ./service-registry
        run: docker push d23124670/kickstarters:latest
      # - name: Build docker image
      #   working-directory: ./gateway-service
      #   run: |
      #     docker build -t kickstarters/gateway-service .
      #     docker tag kickstarters/gateway-service kickstarters/gateway-service:latest
      # - name: Publish image to docker hub
      #   run: docker push kickstarters/gateway-service:latest
      # - name: Build docker image
      #   working-directory: ./profile-service
      #   run: |
      #     docker build -t kickstarters/profile-service .
      #     docker tag kickstarters/profile-service kickstarters/profile-service:latest
      # - name: Publish image to docker hub
      #   run: docker push kickstarters/profile-service:latest
      # - name: Build docker image
      #   working-directory: ./job-service
      #   run: |
      #     docker build -t kickstarters/job-service .
      #     docker tag kickstarters/job-service kickstarters/job-service:latest
      # - name: Publish image to docker hub
      #   run: docker push kickstarters/job-service:latest

  # deploy:
  #   needs: build
  #   runs-on: [aws-ec2]
  #   steps:
  #     - name: Pull Image from docker hub
  #       run: docker pull kickstarters/service-registry:latest
  #     - name: Delete old container
  #       run: docker rm -f service-registry-container
  #     - name: Run docker container
  #       run: docker run -d -p 8080:8080 --name service-registry-container kickstarters/service-registry:latest
  #     - name: Pull Image from docker hub
  #       run: docker pull kickstarters/gateway-service:latest
  #     - name: Delete old container
  #       run: docker rm -f gateway-service-container
  #     - name: Run docker container
  #       run: docker run -d -p 8081:8080 --name gateway-service-container kickstarters/gateway-service:latest
  #     - name: Pull Image from docker hub
  #       run: docker pull kickstarters/profile-service:latest
  #     - name: Delete old container
  #       run: docker rm -f profile-service-container
  #     - name: Run docker container
  #       run: docker run -d -p 8082:8080 --name profile-service-container kickstarters/profile-service:latest
  #     - name: Pull Image from docker hub
  #       run: docker pull kickstarters/job-service:latest
  #     - name: Delete old container
  #       run: docker rm -f job-service-container
  #     - name: Run docker container
  #       run: docker run -d -p 8083:8080 --name job-service-container kickstarters/job-service:latest
